.our-company{
	padding: 60px 0 40px;
	@media only screen and (max-width: $bp-small) {padding: 30px 0 40px;}
	.our-company-text{
		padding: 5%;
		@media only screen and (max-width: $bp-medium) {
			padding: 0 1% 30px 1%;
		}
		
	}
	.full-img{
		margin-top: 20px;
	}
	figure.figure-bridge {
		position: relative;
		background-image: url('../img/bridge-about.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 400px;
		@media only screen and (max-width: $bp-small) {
			height: 330px;
			margin-bottom: 30px;
			background-position: center right;
		}
		figcaption {
			position: absolute;
			bottom: 25px;
			left: 20px;
			color: #fff;
			@media only screen and (max-width: $bp-small) {
				left: 0;
				position: absolute;
				color: $color-primary;
				bottom: -55px;
			}
		}
	}
}

.our-mission{
	.our-mission-text {
		padding: 2% 5% 2% 3%;
		@media only screen and (max-width: $bp-medium) {
			padding: 0% 2% 30px 2%;
		}
	}
}
.our-team{
	.our-team-text{
		padding: 5%;
	}
	
}
.social-responsibility{
	padding: 80px 0;
	.social-responsibility-text{
		padding: 3% 5%;
		@media only screen and (max-width: $bp-small) {
			padding: 3% 5% 30px 5%;
		}
		h3{
			font-family: $font-primary;
			line-height: 1.4em;
			font-size: 3rem;
			margin-bottom: 45px;
		}
		h4{
			font-family: $font-primary;
			text-transform: uppercase;
			font-weight: 400;
			margin-bottom: 20px;
		}
		p{
			a{
				text-decoration: none;
				font-weight: bold;
				color: $color-primary;
			}
		}
	}
}
