.announcement-bar{
	display: flex;
	justify-content: center;
	height: 40px;
	align-items: center;
	background-color: $color-annunciament;
	p{
		font-size: 1.4rem;
		a{
			color: $color-primary;
		}
		@media only screen and (max-width: $bp-small) {
			text-align: center;
			width: 70%;
			font-size: 1.5rem;
		}
	}
}
