// COLOR
$color-primary: #353C44;
$color-primary-light: #FFFFFF;

$color-grey-light-1: #EDEBE8;
$color-grey-light-2: #A4B3B9;
$color-grey-light-3: #F3F3F3;
$color-grey-dark: #69717B;
$color-annunciament: #D3D0CA;

$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  $shadow-light: 0 2rem 5rem rgba(0,0,0,.06);


// FONT VARIABLES
$font-primary: 'Roboto', sans-serif;
$font-display: 'EB Garamond', serif;


$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 48.750em;     // 600px
$bp-smallest: 31.25em; // 500px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    @media only screen and (max-width: $bp-large) {
        font-size: 50%;
    }
}


body {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
    color: $color-primary;
    background-color: $color-primary-light;
    min-height: 100vh;
    font-size: 1.6rem;
    width: 100%;
    overflow-x: hidden;
}
figure img{width:100%;}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}