.become-a-partner{
	padding: 60px 0 40px;
	.become-a-partner-text{
		padding: 4%;
		@media only screen and (max-width: $bp-medium) {
			padding: 0 1% 30px 1%;
		}
	}
}

.our-process{
	text-align: center;
	padding-bottom: 60px;
	.heading-3 {
		font-size: 4.8rem;
	}
	.our-process-text-intro{
		max-width: 471px;
		margin: 0 auto 80px;
	}
	.item-process{
		padding: 10px;
		@media only screen and (max-width: $bp-small) {
			padding: 20px 10px;
		}
		h3{
			text-transform: uppercase;
			font-size: 1.6rem;
			margin: 15px 0;
		}
		p{
			font-size: 1.4rem;
		}
	}
	
	
}
.accordion-form{
	position: relative;
	padding: 100px 0 0 0;
	.accordion{
		margin: 0px auto 0;
		.accordion-item__container{
			padding-bottom: 110px;
		}
		@media only screen and (max-width: $bp-small) {
			width: 100%;
		}
		.form-become{
			input{
				display: inline-block;
				width: 47%;
				height: 50px;
				line-height: 50px;
				border: none;
				padding: 0 10px;
				margin: 1%;
				font-family: $font-primary;
				color: $color-primary;
				&:active{
					border: none;
					outline: none;
				}
				@media only screen and (max-width: $bp-small) {
					width: 96%;
				}
				&[type="submit"]{
					width: 99%;
					margin: 2% auto;
					display: block;
					position: relative;
					background-color: $color-primary;
					color: $color-primary-light;
					font-size: 1.6rem;
					margin-bottom: 30px;
					@media only screen and (max-width: $bp-small) {
						width: 97%;
						left: -2px;
					}
				}
			}
			.dropdown{
				width: 47%;
				float: left;
				background-color: #fff;
				margin: 1% 1.2%;
				height: 50px;
				line-height: 50px;
				padding: 0 10px;
				color: #3F4656;
				ul{
					top: 35px;
				}
				@media only screen and (max-width: $bp-small) {
					width: 96%;
				}
			}
			.dropdown.open ul{
				background-color: #fff;
			}
			.dropdown.open ul li {
				height: 35px;
				line-height: 35px;
				a{
					padding: 0px 10px;
					font-size: 14px;
				}
			}
			.dropdown.filled > span {
				color: #6b6d72;
				font-size: 14px;
			}
			.dropdown > span:before, .dropdown > span:after {
				right: 15px;
				background: #424242;
			}
			textarea{
				display: inline-block;
				width: 100%;
				resize: none;
				height: 294px;
				border: none;
				padding: 10px;
				position: relative;
				left: -5px;
				top: 5px;
				font-family: $font-primary;
				color: $color-primary;
				&.vendor-textarea{
					height: 174px;
					@media only screen and (max-width: $bp-medium) {
						height: 161px;
					}
				}
				&.join-textarea{
					height: 227px;
					@media only screen and (max-width: $bp-medium) {
						height: 217px;
					}
				}
				@media only screen and (max-width: $bp-medium) {
					height: 274px;
				}
				@media only screen and (max-width: $bp-small) {
					width: 97%;
					height: 294px;
					left: 3px;
				}
			}
		}
	}
}
