.footer{
	text-align: center;
	padding: 60px 0;
	
	ul.menu-footer {
		display: flex;
		width: 80%;
		margin: 40px auto;
		justify-content: center;
		list-style-type: none;
		li{
			margin: 0 10px;
			a{
				text-transform: uppercase;
				color: $color-primary;
				text-decoration: none;
				font-weight: bold;
				opacity: 1;
				transition: opacity 0.3s;
				&:hover{
					opacity: 0.6;
				}
			}
			@media only screen and (max-width: $bp-small) {
				margin: 0 8px;
			}
		}
		@media only screen and (max-width: $bp-small) {
			width: 95%;
		}
	}
	.social-link {
		margin-bottom: 40px;
		a{
			display: inline-block;
			margin: 0 10px;
			img {
				height: 22px;
				opacity: 1;
				transition: opacity 0.3s;
				
			}
			&:hover{
				img{
					opacity: 0.7;
				}
			}
		}
		
	}
	address{
		font-family: $font-display;
		font-size: 1.4rem;
		font-style: normal;
		margin-bottom: 35px;
	}
	p.copy {
		font-size: 1.2rem;
		a {
			color: #353C44;
			font-weight: bold;
			text-decoration: none;
			&:hover{
				opacity:0.8;
			}
		}
	}
	.change-language{
		position: relative;
		max-width: 400px;
		margin: 0 auto 40px;
		@media only screen and (max-width: $bp-small) {
			margin: 0 auto 38px;
		}
		a{
			color: $color-primary;
			text-decoration: none;
			img{
				position: relative;
				top: 5px;
				width: 20px;
			}
			&::before {
				content:"";
				position: relative;
				top: 6px;
				display: inline-block;
				margin-right: 4px;
				background-image: url(../img/language.svg);
				background-size: cover;
				width: 25px;
				height: 25px;
			}
		}
		.choose-language {
			display: block;
			position: absolute;
			right: -40px;
			top: 7px;
			opacity: 0;
			transition: all 0.3s;
			@media only screen and (max-width: $bp-large) {
				right: -20px;
				top: 10px;
			}
			@media only screen and (max-width: $bp-small) {
				right: 19px;
				top: 40px;
			}
			a{
				&::before{display: none;}
				margin: 0 5px;
				opacity: 0.6;
				transition: opacity 0.3s;
				&:hover{
					opacity: 1;
				}
			}
			&.open-language{
				right: -10px;
				opacity:1;
				@media only screen and (max-width: $bp-large) {
					right: 22px;
					top: 10px;
				}
				@media only screen and (max-width: $bp-small) {
					right: 139px;
					opacity: 1;
					top: 40px;
				}
			}
		}
	}
	
}
