header{
	background-color: $color-primary;
	color: $color-primary-light;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	padding: 0 5%;
	@media only screen and (max-width: $bp-small) {
		padding: 0 3%;
	}
	.container{
		display: flex;
		height: 100%;
		align-items: center;
		@media only screen and (max-width: $bp-small) {
			width: 96%;
		}
	}
	.logo{
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		@media only screen and (max-width: $bp-small) {
			width: 40%;
		}
		img{
			height: 30px;
			position: relative;
			top: 4px;
			@media only screen and (max-width: $bp-small) {
				height: 25px;
			}
		}
	}

	.navigation {
		width: 50%;
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: flex-end;
		text-transform: uppercase;
		font-size: 1.4rem;
		@media only screen and (max-width: $bp-small) {
			width: 60%;
		}

		a{
			color: $color-primary-light;
			text-decoration: none;
		}
	}
	
	.login{
		position: relative;
		top: -4px;
		a{
			&::before{
				content:url('../img/bag.svg');
				position: relative;
				top: 5px;
				display: inline-block;
				margin-right: 5px
			}
		}
	}
	.menu-desktop{
		display: flex;
		list-style-type: none;
		li{
			margin: 0 20px;
			a{
				text-transform: uppercase;
				font-size: 1.6rem;
				color: $color-primary-light;
				opacity: 0.6;
				text-decoration: none;
				transition: opacity 0.3s;
				&:hover{
					opacity: 1;
				}
				&.current{
					opacity: 1;
				}
			}
		}
		@media only screen and (max-width: $bp-large) {
			display: none;
		}
	}
	.language-switch{
		margin: 0 2rem;
		@media only screen and (max-width: $bp-small) {
			margin: 0;
		}
	}
	
}

.dropdown {
	--max-scroll: 8;
	--text: #3F4656;
	--border: #2F3545;
	--borderActive: #23C4F8;
	--background: #151924;
	--arrow: #6C7486;
	--arrowActive: #E4ECFA;
	--listText: #99A3BA;
	--listBackground: #F5F9FF;
	--listActive: #E4ECFA;
	--listTextActive: #6C7486;
	--listBorder: none;
	--textFilled: #99A3BA;
	&.light {
		--text: #CDD9ED;
		--border: #CDD9ED;
		--borderActive: #23C4F8;
		--background: #fff;
		--arrow: #99A3BA;
		--arrowActive: #6C7486;
		--listText: #99A3BA;
		--listBackground: #fff;
		--listActive: #F5F9FF;
		--listTextActive: #6C7486;
		--listBorder: #E4ECFA;
		--textFilled: #fff;
	}
	width: 55px;
	position: relative;
	@media only screen and (max-width: $bp-small) {
		width: 50px;
	}

	select {
		display: none;
	}
	& > span {
		cursor: pointer;
		padding: 0;
		border-radius: 6px;
		display: block;
		position: relative;
		color: var(--text);
		transition: all .3s ease;
		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 8px;
			height: 2px;
			border-radius: 1px;
			top: 50%;
			right: 15px;
			background: #fff;
			transition: all .3s ease;
			@media only screen and (max-width: $bp-small) {
				right: 20px;
			}
		}
		&:before {
			margin-right: 4px;
			transform: scale(.96, .8) rotate(50deg);
		}
		&:after {
			transform: scale(.96, .8) rotate(-50deg);
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		max-height: calc(var(--max-scroll) * 42px);
		top: 20px;
		left: 0;
		z-index: 1;
		right: 0;
		background: var(--listBackground);
		border-radius: 6px;
		overflow-x: hidden;
		overflow-y: auto;
		transform-origin: 0 0;
		transition: opacity .2s ease, visibility .2s ease, transform .3s cubic-bezier(.4, .6, .5, 1.32);
		transform: scale(.8) translate(0, 4px);
		border: 1px solid var(--listBorder);
		li {
			opacity: 0;
			transform: translate(6px, 0);
			transition: all .3s ease;
			a {
				cursor: pointer;
				display: block;
				padding: 10px 16px;
				color: var(--listText);
				text-decoration: none;
				outline: none;
				position: relative;
				transition: all .3s ease;
				&:hover {
					color: var(--listTextActive);
				}
			}
			&.active {
				a {
					color: #353d44;
					background: #A4B3B9;
				
					&:before,
					&:after {
						--scale: .6;
						content: '';
						display: block;
						width: 10px;
						height: 2px;
						position: absolute;
						right: 17px;
						top: 50%;
						opacity: 0;
						background: var(--listText);
						transition: all .2s ease;
					}
					&:before {
						transform: rotate(45deg) scale(var(--scale));
					}
					&:after {
						transform: rotate(-45deg) scale(var(--scale));
					}
					&:hover {
						&:before,
						&:after {
							--scale: .9;
							opacity: 1;
						}
					}
				}
			}
			&:first-child {
				a {
					border-radius: 6px 6px 0 0;
				}
			}
			&:last-child {
				a {
					border-radius: 0 0 6px 6px;
				}
			}
		}
	}
	&.filled {
		& > span {
			color: #fff;
		}
	}
	&.open {
		& > span {
			border-color: var(--borderActive);
			&:before,
			&:after {
				background: var(--arrowActive);
			}
			&:before {
				transform: scale(.96, .8) rotate(-50deg);
			}
			&:after {
				transform: scale(.96, .8) rotate(50deg);
			}
		}
		ul {
			opacity: 1;
			visibility: visible;
			transform: scale(1) translate(0, 12px);
			transition: opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(.4, .6, .5, 1.32);
			li {
				opacity: 1;
				transform: translate(0, 0);
				$i: 1;
				@while $i <= 10 {
					$delay: $i * 80;
					&:nth-child(#{$i}) {
						transition-delay: #{$delay}ms;
					}
					$i: $i + 1;
				}
			}
		}
	}
}

select {
	--text: #3F4656;
	--border: #2F3545;
	--background: #151924;
	&.dropdown {
		padding: 9px 16px;
		border-radius: 6px;
		color: var(--text);
		border: 1px solid var(--border);
		background: var(--background);
		line-height: 22px;
		font-size: 16px;
		font-family: inherit;
		-webkit-appearance: none;
	}
}








