.intro{
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 80px 0;
	@media only screen and (max-width: $bp-small) {
		padding: 40px 0;
	}
	h3{
		font-size: 3.8rem;
		margin-bottom: 20px;
		@media only screen and (max-width: $bp-medium) {
			font-size: 3rem;
		}
	}
	p{
		max-width: 65%;
		margin: 0 auto;
		font-size: 1.8rem;
		@media only screen and (max-width: $bp-small) {
			max-width: 90%;
		}
	}
}
