.announcement-bar{
	display: flex;
	justify-content: center;
	height: 10px;
	align-items: center;
	background-color: $color-annunciament;
	p{
		font-size: 1.4rem;
		a{
			color: $color-primary;
		}
		@media only screen and (max-width: $bp-small) {
			text-align: center;
			width: 90%;
		}
	}
}
