.become-a-partner{
	padding: 60px 0 40px;
	.become-a-partner-text{
		padding: 4%;
		@media only screen and (max-width: $bp-medium) {
			padding: 0 1% 30px 1%;
		}
	}
}

.our-process{
	text-align: center;
	padding-bottom: 60px;
	.heading-3 {
		font-size: 4.2rem;
	}
	.our-process-text-intro{
		max-width: 471px;
		margin: 0 auto 80px;
	}
	.item-process{
		padding: 10px;
		@media only screen and (max-width: $bp-small) {
			padding: 20px 10px;
		}
		h3{
			text-transform: uppercase;
			font-size: 1.6rem;
			margin: 15px 0;
		}
		p{
			font-size: 1.4rem;
		}
	}
	
	
}
.accordion-form{
	position: relative;
	padding: 70px 0;
	.accordion{
		margin: 0px auto 0;
		@media only screen and (max-width: $bp-small) {
			width: 100%;
		}
		.form-become{
			input{
				display: inline-block;
				width: 47%;
				height: 50px;
				line-height: 50px;
				border: none;
				padding: 0 10px;
				margin: 1%;
				font-family: $font-primary;
				color: $color-primary;
				&[type="submit"]{
					width: 99%;
					margin: 2% auto;
					display: block;
					position: relative;
					background-color: $color-primary;
					color: $color-primary-light;
					@media only screen and (max-width: $bp-small) {
						width: 97%;
						left: -2px;
					}
				}
			}
			select{
				display: inline-block;
				width: 47%;
				height: 50px;
				line-height: 50px;
				border: none;
				padding: 0 10px;
				margin: 1%;
				font-family: $font-primary;
				color: $color-primary;
			}
			textarea{
				display: inline-block;
				width: 100%;
				resize: none;
				height: 294px;
				border: none;
				padding: 10px;
				position: relative;
				left: -5px;
				top: 5px;
				font-family: $font-primary;
				color: $color-primary;
				@media only screen and (max-width: $bp-medium) {
					height: 274px;
				}
				@media only screen and (max-width: $bp-small) {
					width: 97%;
					height: 294px;
					left: 3px;
				}
			}
		}
	}
}
