.career{
	text-align: center;
	padding: 60px 0 40px;
	.career-text{
		h3{
			font-size: 4.2rem;
		}
		.career-text-intro{
			max-width: 471px;
			margin: 0 auto 80px;
		}
	}
	.career-main{
		input {
			position: absolute;
			opacity: 0;
			z-index: -1;
		}
		.accordion-wrapper {
			overflow: hidden;
			width: 85%;
			margin:0 auto;
			@media only screen and (max-width: $bp-small) {
				width: 100%;
			}
		}
		.accordion {
			width: 100%;
			color: $color-primary;
			overflow: hidden;
			margin-bottom: 16px;
			margin-top: 0;
		}
		.accordion:last-child{
			margin-bottom: 0;
		}
		.accordion-label {
			display: flex;
			-webkit-box-pack: justify;
			justify-content: space-between;
			padding: 30px 20px 30px 30px;
			background: $color-grey-light-1;
			font-weight: bold;
			cursor: pointer;
			font-family: $font-display;
			font-size: 3rem;
			color: $color-primary;
			@media only screen and (max-width: $bp-small) {
				padding: 25px 0px 25px 15px;
				font-size: 2.4rem;
			}
		}
		.accordion-label:hover {
			opacity: 0.8;
		}
		.accordion-label::after {
			content: url('../img/arrow-drop-down-circle.svg');
			width: 16px;
			height: 16px;
			text-align: center;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
			position: relative;
			left: -34px;
			top: 5px;
		}
		.accordion-content {
			max-height: 0;
			padding: 0 16px;
			background: $color-grey-light-1;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}
		.accordion-content p{
			margin: 0;
			font-size:1.6rem;
			color: $color-primary;
			padding: 20px 20px 40px 20px;
		}
		input:checked + .accordion-label {
			background: $color-grey-light-1;
		}
		input:checked + .accordion-label::after {
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
			top: 20px;
		}
		input:checked ~ .accordion-content {
			max-height: 100vh;
			padding: 16px;
		}
	}
}
