$color_blue: #447fff;
$color_blue__fade: rgba($color_blue, .1);
$color_white: #f9f9f9;
$color_cloud: #eaeaea;


.expertise{
	position: relative;
	padding: 80px 0;
	h3{
		text-align: center;
		font-size: 4.2rem;
		margin-bottom: 20px;
	}
	p.intro-section{
		text-align: center;
		max-width: 650px;
		margin: 0 auto;
	}
	
}


.accordion {
	margin: 60px 0;
	width: 100%;
	p{
		text-align: left;
	}
  $accordion: &;

  &-tabs {
	display: none;
		:focus {outline: none;}
  }

  &-item {
	border-bottom: 1px solid #6a6a6a;

	&:last-child {
	  border: none;
	}

	&__label {
	  margin: 0;
	  padding: 1.25rem;
	  cursor: pointer;
	  transition: padding .2s ease;
	  position: relative;
	  font-size: 2rem;
	  text-transform: uppercase;

	  &:after {
		content: "";
		height: 10px;
		width: 10px;
		position: absolute;
		top: -4px;
		right: 1.25rem;
		bottom: 0;
		margin: auto;
		border: 1px solid transparent;
		border-radius: 2px;
		transform: rotate(45deg);
		border-color: transparent $color-primary $color-primary transparent;
		opacity: 1;
		transition: opacity .1s ease;
	  }

	  &:hover {
		background: lighten($color_blue, 28);
	  }
	}

	&__container {
	  padding: 0 1.25em;
	  height: 0;
	  overflow: hidden;
	  opacity: 0;
	  transition:
		padding .2s ease,
		opacity .5s .15s ease;
	}
  }

  &-active {

	.accordion-item {
	  &__label {
		padding-bottom: 0;
		cursor: inherit;
		text-transform: uppercase;
		&:hover {
		  background: none;
		}

		&:after {
		  opacity: 1;
		}
	  }

	  &__container {
		padding: 1.25em 0;
		height: auto;
		opacity: 1;

		p, h1, h2, h3, h4, h5, h6 {
		  &:first-child {
			margin-top: 0;
		  }

		  &:last-child {
			margin-bottom: 20px;
		  }
		}

	  }
	}
  }
}

@media (min-width: 600px) {

  .accordion-tabs {
	display: flex;
	background-color: transparent;
	.accordion-tab {
	  padding: 1rem 2rem;
	  background-color: transparent;
	  font: inherit;
	  flex: 1;
	  border: none;
	  cursor: pointer;
	  font-size: 1.6rem;
	  text-transform: uppercase;
			transition: background .1s ease;
			&:hover{
				background: rgba($color_white, .01)
			}

	  &:last-child {
		border-right: 0;
	  }

	  &.accordion-active {
		border-bottom: 5px solid #353C44;
		background-color: transparent;
	  }
	}
  }

  .accordion-item {
	padding: 5rem 0 0 0;
	display: none;
	border: none;
	min-height: 260px;

	&__label, &__container {
	  padding: 0;
	  transition: inherit;
	}

	&__label {
	  margin-bottom: 1.5rem;
	  display: none;
	  text-transform: uppercase;
	}

	&.accordion-active {
	  display: flex;

	  .accordion-item__container {
		padding: 0;
		display: flex;
	  }
	}
	
	.accordion-content-text {
		width: 50%;
		padding: 50px 6% 0 0;
		h4{
			font-size: 3rem;
			margin-bottom: 20px;
			line-height: 1.4em;
		}
	}
	figure.figure-accordion {
		width: 50%;
		img{
			width: 100%;
		}
	}
  }
}


.accordion {
  overflow: hidden;
  width: 90%;
  margin: 80px auto 0;
  @media (min-width: 600px) {
  }
	+ p {
		color: rgba(#fff, .8);
		font-weight: 300;
		font-size: .9rem;
		margin-top: 2rem;
		
	}
}

.video-main {
	position: relative;
	width: 100%;
	height: 46vw;
	background-color: #333F48;
	margin: 0px;
}

.video-container {
	position: relative;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
}

.homepage-hero-module {
	border-right: none;
	border-left: none;
	position: relative;
	max-height: 100%;
}

.video-container .filter {
	z-index: 100;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
}
.video-container video {
	position: absolute;
	z-index: 0;
	top: 0;
}

.video-container video.fillWidth {
	width: 100% !important;
}

@media (max-width: 800px) {
	.accordion-tabs .accordion-tab{font-size: 1.4rem;}
	.accordion-item .accordion-content-text h4{font-size: 2.4rem;}
	.accordion-item .accordion-content-text {padding: 0px 3% 0 0;}
}
