%heading {
    font-family: $font-display;
    font-weight: 700;
}

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    color: $color-primary;
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    line-height: 1;
    &--light { color: $color-primary-light; }
    &--dark { color: $color-primary; }
}

.heading-3 {
    @extend %heading;
    font-size: 3.6rem;
    margin-bottom: 2.5rem;
    &--light { color: $color-primary-light; }
    &--dark { color: $color-primary; }
}

.heading-4 {
    @extend %heading;
    font-size: 1.9rem;

    &--light { color: $color-primary-light; }
    &--dark { color: $color-primary; }
}

.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }