* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #353C44;
  background-color: #FFFFFF;
  min-height: 100vh;
  font-size: 1.6rem;
  width: 100%;
  overflow-x: hidden; }

figure img {
  width: 100%; }

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "EB Garamond", serif;
  font-weight: 700; }

.heading-1 {
  font-size: 4.5rem;
  color: #353C44;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  line-height: 1; }
  .heading-2--light {
    color: #FFFFFF; }
  .heading-2--dark {
    color: #353C44; }

.heading-3 {
  font-size: 4.8rem;
  margin-bottom: 2.5rem; }
  .heading-3--light {
    color: #FFFFFF; }
  .heading-3--dark {
    color: #353C44; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #FFFFFF; }
  .heading-4--dark {
    color: #353C44; }

p {
  font-size: 1.6rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem; }

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem; }

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse; }

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem; }

.col-xs {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%; }

.col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%; }

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%; }

.col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%; }

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%; }

.col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%; }

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%; }

.col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-1 {
  margin-left: 8.333%; }

.col-xs-offset-2 {
  margin-left: 16.667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.333%; }

.col-xs-offset-5 {
  margin-left: 41.667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.333%; }

.col-xs-offset-8 {
  margin-left: 66.667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.333%; }

.col-xs-offset-11 {
  margin-left: 91.667%; }

.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start; }

.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center; }

.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end; }

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1; }

.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1; }

@media only screen and (min-width: 48em) {
  .container {
    width: 46rem; }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem; }
  .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%; }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%; }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%; }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%; }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%; }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%; }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%; }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%; }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-1 {
    margin-left: 8.333%; }
  .col-sm-offset-2 {
    margin-left: 16.667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.333%; }
  .col-sm-offset-5 {
    margin-left: 41.667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.333%; }
  .col-sm-offset-8 {
    margin-left: 66.667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.333%; }
  .col-sm-offset-11 {
    margin-left: 91.667%; }
  .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center; }
  .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; }
  .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center; }
  .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end; }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; }
  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1; }
  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; } }

@media only screen and (min-width: 62em) {
  .container {
    width: 61rem; }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem; }
  .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%; }
  .col-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%; }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%; }
  .col-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%; }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%; }
  .col-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%; }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%; }
  .col-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%; }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-1 {
    margin-left: 8.333%; }
  .col-md-offset-2 {
    margin-left: 16.667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.333%; }
  .col-md-offset-5 {
    margin-left: 41.667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.333%; }
  .col-md-offset-8 {
    margin-left: 66.667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.333%; }
  .col-md-offset-11 {
    margin-left: 91.667%; }
  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center; }
  .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; }
  .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center; }
  .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end; }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; }
  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1; }
  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; } }

@media only screen and (min-width: 75em) {
  .container {
    width: 71rem; }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem; }
  .col-lg {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%; }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%; }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%; }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%; }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%; }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%; }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%; }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%; }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-lg-offset-1 {
    margin-left: 8.333%; }
  .col-lg-offset-2 {
    margin-left: 16.667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.333%; }
  .col-lg-offset-5 {
    margin-left: 41.667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.333%; }
  .col-lg-offset-8 {
    margin-left: 66.667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.333%; }
  .col-lg-offset-11 {
    margin-left: 91.667%; }
  .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start; }
  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center; }
  .end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end; }
  .top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; }
  .middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center; }
  .bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end; }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; }
  .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1; }
  .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1; } }

.container {
  width: 90%;
  max-width: 150rem;
  background-color: var(--color-grey-light-1);
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0 auto;
      max-width: 100%;
      width: 100%; } }
  @media only screen and (max-width: 56.25em) {
    .container {
      margin: 0 auto;
      width: 95%; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      width: 90%; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.bg-color-white {
  background-color: #FFFFFF; }

.bg-color-grey {
  background-color: #EDEBE8; }

.bg-color-grey-light {
  background-color: #F3F3F3; }

.bg-color-grey-dark {
  background-color: #69717B; }

.bg-color-grey-green {
  background-color: #A4B3B9; }

.announcement-bar {
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  background-color: #D3D0CA; }
  .announcement-bar p {
    font-size: 1.4rem; }
    .announcement-bar p a {
      color: #353C44; }
    @media only screen and (max-width: 37.5em) {
      .announcement-bar p {
        text-align: center;
        width: 90%; } }

header {
  background-color: #353C44;
  color: #FFFFFF;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 5%; }
  @media only screen and (max-width: 37.5em) {
    header {
      padding: 0 3%; } }
  header .container {
    display: flex;
    height: 100%;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      header .container {
        width: 96%; } }
  header .logo {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      header .logo {
        width: 40%; } }
    header .logo img {
      height: 30px;
      position: relative;
      top: 4px; }
      @media only screen and (max-width: 37.5em) {
        header .logo img {
          height: 25px; } }
  header .navigation {
    width: 50%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 1.4rem; }
    @media only screen and (max-width: 37.5em) {
      header .navigation {
        width: 60%; } }
    header .navigation a {
      color: #FFFFFF;
      text-decoration: none; }
  header .login {
    position: relative;
    top: -4px; }
    header .login a::before {
      content: url("../img/bag.svg");
      position: relative;
      top: 5px;
      display: inline-block;
      margin-right: 5px; }
  header .menu-desktop {
    display: flex;
    list-style-type: none; }
    header .menu-desktop li {
      margin: 0 20px; }
      header .menu-desktop li a {
        text-transform: uppercase;
        font-size: 1.6rem;
        color: #FFFFFF;
        opacity: 0.6;
        text-decoration: none;
        transition: opacity 0.3s; }
        header .menu-desktop li a:hover {
          opacity: 1; }
        header .menu-desktop li a.current {
          opacity: 1; }
    @media only screen and (max-width: 68.75em) {
      header .menu-desktop {
        display: none; } }
  header .language-switch {
    margin: 0 2rem; }
    @media only screen and (max-width: 37.5em) {
      header .language-switch {
        margin: 0; } }

.dropdown {
  --max-scroll: 8;
  --text: #3F4656;
  --border: #2F3545;
  --borderActive: #23C4F8;
  --background: #151924;
  --arrow: #6C7486;
  --arrowActive: #E4ECFA;
  --listText: #99A3BA;
  --listBackground: #F5F9FF;
  --listActive: #E4ECFA;
  --listTextActive: #6C7486;
  --listBorder: none;
  --textFilled: #99A3BA;
  width: 55px;
  position: relative; }
  .dropdown.light {
    --text: #CDD9ED;
    --border: #CDD9ED;
    --borderActive: #23C4F8;
    --background: #fff;
    --arrow: #99A3BA;
    --arrowActive: #6C7486;
    --listText: #99A3BA;
    --listBackground: #fff;
    --listActive: #F5F9FF;
    --listTextActive: #6C7486;
    --listBorder: #E4ECFA;
    --textFilled: #fff; }
  @media only screen and (max-width: 37.5em) {
    .dropdown {
      width: 50px; } }
  .dropdown select {
    display: none; }
  .dropdown > span {
    cursor: pointer;
    padding: 0;
    border-radius: 6px;
    display: block;
    position: relative;
    color: var(--text);
    transition: all .3s ease; }
    .dropdown > span:before, .dropdown > span:after {
      content: '';
      display: block;
      position: absolute;
      width: 8px;
      height: 2px;
      border-radius: 1px;
      top: 50%;
      right: 15px;
      background: #fff;
      transition: all .3s ease; }
      @media only screen and (max-width: 37.5em) {
        .dropdown > span:before, .dropdown > span:after {
          right: 20px; } }
    .dropdown > span:before {
      margin-right: 4px;
      transform: scale(0.96, 0.8) rotate(50deg); }
    .dropdown > span:after {
      transform: scale(0.96, 0.8) rotate(-50deg); }
  .dropdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    max-height: calc(var(--max-scroll) * 42px);
    top: 20px;
    left: 0;
    z-index: 1;
    right: 0;
    background: var(--listBackground);
    border-radius: 6px;
    overflow-x: hidden;
    overflow-y: auto;
    transform-origin: 0 0;
    transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transform: scale(0.8) translate(0, 4px);
    border: 1px solid var(--listBorder); }
    .dropdown ul li {
      opacity: 0;
      transform: translate(6px, 0);
      transition: all .3s ease; }
      .dropdown ul li a {
        cursor: pointer;
        display: block;
        padding: 10px 16px;
        color: var(--listText);
        text-decoration: none;
        outline: none;
        position: relative;
        transition: all .3s ease; }
        .dropdown ul li a:hover {
          color: var(--listTextActive); }
      .dropdown ul li.active a {
        color: #353d44;
        background: #A4B3B9; }
        .dropdown ul li.active a:before, .dropdown ul li.active a:after {
          --scale: .6;
          content: '';
          display: block;
          width: 10px;
          height: 2px;
          position: absolute;
          right: 17px;
          top: 50%;
          opacity: 0;
          background: var(--listText);
          transition: all .2s ease; }
        .dropdown ul li.active a:before {
          transform: rotate(45deg) scale(var(--scale)); }
        .dropdown ul li.active a:after {
          transform: rotate(-45deg) scale(var(--scale)); }
        .dropdown ul li.active a:hover:before, .dropdown ul li.active a:hover:after {
          --scale: .9;
          opacity: 1; }
      .dropdown ul li:first-child a {
        border-radius: 6px 6px 0 0; }
      .dropdown ul li:last-child a {
        border-radius: 0 0 6px 6px; }
  .dropdown.filled > span {
    color: #fff; }
  .dropdown.open > span {
    border-color: var(--borderActive); }
    .dropdown.open > span:before, .dropdown.open > span:after {
      background: var(--arrowActive); }
    .dropdown.open > span:before {
      transform: scale(0.96, 0.8) rotate(-50deg); }
    .dropdown.open > span:after {
      transform: scale(0.96, 0.8) rotate(50deg); }
  .dropdown.open ul {
    opacity: 1;
    visibility: visible;
    transform: scale(1) translate(0, 12px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32); }
    .dropdown.open ul li {
      opacity: 1;
      transform: translate(0, 0); }
      .dropdown.open ul li:nth-child(1) {
        transition-delay: 80ms; }
      .dropdown.open ul li:nth-child(2) {
        transition-delay: 160ms; }
      .dropdown.open ul li:nth-child(3) {
        transition-delay: 240ms; }
      .dropdown.open ul li:nth-child(4) {
        transition-delay: 320ms; }
      .dropdown.open ul li:nth-child(5) {
        transition-delay: 400ms; }
      .dropdown.open ul li:nth-child(6) {
        transition-delay: 480ms; }
      .dropdown.open ul li:nth-child(7) {
        transition-delay: 560ms; }
      .dropdown.open ul li:nth-child(8) {
        transition-delay: 640ms; }
      .dropdown.open ul li:nth-child(9) {
        transition-delay: 720ms; }
      .dropdown.open ul li:nth-child(10) {
        transition-delay: 800ms; }

select {
  --text: #3F4656;
  --border: #2F3545;
  --background: #151924; }
  select.dropdown {
    padding: 9px 16px;
    border-radius: 6px;
    color: var(--text);
    border: 1px solid var(--border);
    background: var(--background);
    line-height: 22px;
    font-size: 16px;
    font-family: inherit;
    -webkit-appearance: none; }

svg:not(:root) {
  overflow: hidden; }

.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor; }

svg.icon.icon--cross {
  color: #fff;
  width: 3.5rem;
  height: 3.5rem; }

/* Buttons */
.btn {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: inherit; }

.btn:focus {
  outline: none; }

.btn--menu {
  position: relative;
  color: #fff;
  pointer-events: visible;
  display: block;
  margin-left: 25px;
  opacity: 1; }
  @media only screen and (min-width: 68.75em) {
    .btn--menu {
      display: none; } }

.btn--close {
  position: absolute;
  top: 3vw;
  right: 5vw;
  font-size: 0.75em;
  z-index: 100; }
  @media only screen and (max-width: 37.5em) {
    .btn--close {
      top: 7vw;
      right: 9vw; } }

/* Menu */
.menu {
  position: fixed;
  top: 0;
  right: -320px;
  height: 100%;
  width: 320px;
  z-index: 0;
  transition: right 0.3s; }
  @media only screen and (max-width: 37.5em) {
    .menu {
      right: -100%;
      height: 100%;
      width: 90%; } }

.js .menu {
  pointer-events: none; }

.js .menu--open {
  pointer-events: visible; }

.menu--open {
  z-index: 100;
  right: -1px;
  box-shadow: -1px 0px 13px #0c0c0cb0; }

.menu__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 14vh 3em;
  margin: 0;
  background: #353C44;
  overflow: hidden; }

.menu__item {
  padding: 0.15em; }

.js .menu__item {
  transform: translate3d(-13em, 0, 0);
  transition: transform 0s 0.8s; }

.btn--close {
  opacity: 0; }

.menu--open .menu__item,
.menu--open .btn--close {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.8s 0.235s, transform 0.8s 0.235s cubic-bezier(0.645, 0.045, 0.355, 1); }

.menu--open .menu__item:nth-child(2) {
  transition-delay: 0.165s; }

.menu--open .menu__item:nth-child(3) {
  transition-delay: 0.195s; }

.menu--open .menu__item:nth-child(4) {
  transition-delay: 0.225s; }

.menu .menu__link {
  font-size: 3.5vw;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  opacity: 0.8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3.6rem; }
  @media only screen and (max-width: 37.5em) {
    .menu .menu__link {
      font-size: 3.6rem; } }

.menu .menu__link:hover,
.menu .menu__link:focus {
  outline: none;
  color: #FFFFFF;
  opacity: 1; }

.demo-menu {
  background: #4f4f54;
  color: #828282; }

.demo-menu a {
  color: #c5c149; }

.demo-menu a:hover, .demo-menu a:focus {
  color: #fcf652; }

.block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
  opacity: 0; }

.banner {
  width: 100%;
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .banner .main-banner {
    text-align: center; }
    .banner .main-banner h1.heading-1 {
      color: #FFFFFF;
      font-size: 7.5rem;
      line-height: 1.2em; }
      @media only screen and (max-width: 56.25em) {
        .banner .main-banner h1.heading-1 {
          font-size: 6rem;
          line-height: 1.2em; } }
      @media only screen and (max-width: 37.5em) {
        .banner .main-banner h1.heading-1 {
          font-size: 5rem;
          line-height: 1.2em; } }
    .banner .main-banner h2.heading-2 {
      color: #FFFFFF;
      font-family: "Roboto", sans-serif;
      font-size: 2.5rem;
      margin-top: 35px;
      font-weight: 400; }
      @media only screen and (max-width: 37.5em) {
        .banner .main-banner h2.heading-2 {
          font-size: 2rem; } }
  @media only screen and (max-width: 68.75em) {
    .banner {
      height: 500px; } }
  @media only screen and (max-width: 37.5em) {
    .banner {
      height: 400px; } }

.banner-home {
  background-image: url("../img/banner-home-desktop.jpg"); }

.banner-about {
  background-image: url("../img/banner-about.jpg"); }

.banner-become {
  background-image: url("../img/banner-become.jpg"); }

.banner-career {
  background-image: url("../img/career-banner.jpg"); }

.intro {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 80px 0; }
  .intro h3 {
    font-size: 3.8rem;
    margin-bottom: 20px; }
    @media only screen and (max-width: 56.25em) {
      .intro h3 {
        font-size: 3rem; } }
  .intro p {
    max-width: 65%;
    margin: 0 auto;
    font-size: 1.8rem; }
    @media only screen and (max-width: 37.5em) {
      .intro p {
        max-width: 90%; } }

.mosaic {
  width: 100%;
  height: 60vw;
  position: relative; }
  .mosaic .bg-foto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/mosaic-foto.jpg"); }
    @media only screen and (max-width: 37.5em) {
      .mosaic .bg-foto {
        height: 330px; } }
  @media only screen and (max-width: 37.5em) {
    .mosaic {
      height: auto; } }
  .mosaic h3 {
    position: relative;
    color: #FFFFFF;
    font-size: 3.6rem;
    font-weight: 400;
    width: 50%;
    line-height: 1.3em;
    left: 7vw;
    top: 23vw; }
    @media only screen and (max-width: 56.25em) {
      .mosaic h3 {
        font-size: 3rem;
        left: 3vw;
        top: 17vw; } }
    @media only screen and (max-width: 37.5em) {
      .mosaic h3 {
        width: 80%;
        left: 5vw;
        top: 15vw;
        height: 300px; } }
  .mosaic .item-mosaic {
    position: absolute;
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .mosaic .item-mosaic {
        position: relative;
        float: left;
        width: 50vw;
        height: 50vw; } }
    .mosaic .item-mosaic span {
      text-align: center; }
    .mosaic .item-mosaic em {
      font-size: 5em;
      font-family: "EB Garamond", serif;
      font-weight: 700;
      font-style: normal;
      display: block;
      line-height: 1.1em; }
      @media only screen and (max-width: 37.5em) {
        .mosaic .item-mosaic em {
          font-size: 4em; } }
    .mosaic .item-mosaic.m1 {
      right: 20vw;
      top: 0; }
      @media only screen and (max-width: 37.5em) {
        .mosaic .item-mosaic.m1 {
          right: 0;
          top: 0;
          margin-top: 30px; } }
    .mosaic .item-mosaic.m2 {
      right: 0vw;
      top: 0; }
      @media only screen and (max-width: 37.5em) {
        .mosaic .item-mosaic.m2 {
          right: 0;
          top: 0;
          margin-top: 30px; } }
      .mosaic .item-mosaic.m2 em {
        color: #fff; }
      .mosaic .item-mosaic.m2 span {
        color: #fff; }
    .mosaic .item-mosaic.m3 {
      right: 0vw;
      top: 40vw; }
      @media only screen and (max-width: 37.5em) {
        .mosaic .item-mosaic.m3 {
          right: 0;
          top: 0;
          margin-top: 0px; } }
      .mosaic .item-mosaic.m3 em {
        color: #fff; }
        @media only screen and (max-width: 37.5em) {
          .mosaic .item-mosaic.m3 em {
            color: #353C44; } }
      .mosaic .item-mosaic.m3 span {
        color: #fff; }
        @media only screen and (max-width: 37.5em) {
          .mosaic .item-mosaic.m3 span {
            color: #353C44; } }
    .mosaic .item-mosaic.m4 {
      right: 0vw;
      top: 20vw; }
      @media only screen and (max-width: 37.5em) {
        .mosaic .item-mosaic.m4 {
          right: 0;
          top: 0;
          margin-top: 0px; } }
  .mosaic p {
    position: relative;
    color: #FFFFFF;
    left: 7vw;
    top: 25vw;
    width: 45vw; }
    @media only screen and (max-width: 56.25em) {
      .mosaic p {
        left: 3vw;
        top: 19vw;
        width: 50vw; } }
    @media only screen and (max-width: 37.5em) {
      .mosaic p {
        width: 80vw;
        left: 5vw;
        top: 3vw;
        color: #353C44;
        clear: both;
        padding-bottom: 30px;
        padding-top: 20px; } }

.expertise {
  position: relative;
  padding: 80px 0; }
  .expertise h3 {
    text-align: center;
    font-size: 4.8rem;
    margin-bottom: 20px; }
  .expertise p.intro-section {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.8rem; }

.accordion {
  margin: 60px 0;
  width: 100%; }
  .accordion p {
    text-align: left; }
  .accordion-tabs {
    display: none; }
    .accordion-tabs :focus {
      outline: none; }
  .accordion-item {
    border-bottom: 1px solid #6a6a6a; }
    .accordion-item:last-child {
      border: none; }
    .accordion-item__label {
      margin: 0;
      padding: 1.25rem;
      cursor: pointer;
      transition: padding .2s ease;
      position: relative;
      font-size: 2rem;
      text-transform: uppercase; }
      .accordion-item__label:after {
        content: "";
        height: 10px;
        width: 10px;
        position: absolute;
        top: -4px;
        right: 1.25rem;
        bottom: 0;
        margin: auto;
        border: 1px solid transparent;
        border-radius: 2px;
        transform: rotate(45deg);
        border-color: transparent #353C44 #353C44 transparent;
        opacity: 1;
        transition: opacity .1s ease; }
      .accordion-item__label:hover {
        background: #d3e1ff; }
    .accordion-item__container {
      padding: 0 1.25em;
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: padding .2s ease, opacity .5s .15s ease; }
  .accordion-active .accordion-item__label {
    padding-bottom: 0;
    cursor: inherit;
    text-transform: uppercase; }
    .accordion-active .accordion-item__label:hover {
      background: none; }
    .accordion-active .accordion-item__label:after {
      opacity: 1; }
  .accordion-active .accordion-item__container {
    padding: 1.25em 0;
    height: auto;
    opacity: 1; }
    .accordion-active .accordion-item__container p:first-child, .accordion-active .accordion-item__container h1:first-child, .accordion-active .accordion-item__container h2:first-child, .accordion-active .accordion-item__container h3:first-child, .accordion-active .accordion-item__container h4:first-child, .accordion-active .accordion-item__container h5:first-child, .accordion-active .accordion-item__container h6:first-child {
      margin-top: 0; }
    .accordion-active .accordion-item__container p:last-child, .accordion-active .accordion-item__container h1:last-child, .accordion-active .accordion-item__container h2:last-child, .accordion-active .accordion-item__container h3:last-child, .accordion-active .accordion-item__container h4:last-child, .accordion-active .accordion-item__container h5:last-child, .accordion-active .accordion-item__container h6:last-child {
      margin-bottom: 20px; }

@media (min-width: 600px) {
  .accordion-tabs {
    display: flex;
    background-color: transparent; }
    .accordion-tabs .accordion-tab {
      padding: 1rem 2rem;
      background-color: transparent;
      font: inherit;
      flex: 1;
      border: none;
      cursor: pointer;
      font-size: 2rem;
      text-transform: uppercase;
      border-bottom: 1px solid #ccc;
      transition: background .1s ease; }
      .accordion-tabs .accordion-tab:hover {
        background: rgba(249, 249, 249, 0.01); }
      .accordion-tabs .accordion-tab:last-child {
        border-right: 0; }
      .accordion-tabs .accordion-tab.accordion-active {
        border-bottom: 5px solid #353C44;
        background-color: transparent; }
  .accordion-item {
    padding: 5rem 0 0 0;
    display: none;
    border: none;
    min-height: 260px; }
    .accordion-item__label, .accordion-item__container {
      padding: 0;
      transition: inherit; }
    .accordion-item__label {
      margin-bottom: 1.5rem;
      display: none;
      text-transform: uppercase; }
    .accordion-item.accordion-active {
      display: flex; }
      .accordion-item.accordion-active .accordion-item__container {
        padding: 0;
        display: flex; }
    .accordion-item .accordion-content-text {
      width: 50%;
      padding: 40px 6% 0 0; }
      .accordion-item .accordion-content-text h4 {
        font-size: 3rem;
        margin-bottom: 45px;
        line-height: 1.3em; }
      .accordion-item .accordion-content-text p {
        font-size: 1.6rem; }
    .accordion-item figure.figure-accordion {
      width: 50%; }
      .accordion-item figure.figure-accordion img {
        width: 100%; } }

.accordion {
  overflow: hidden;
  width: 90%;
  margin: 80px auto 0; }
  .accordion + p {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    font-size: .9rem;
    margin-top: 2rem; }

.video-main {
  position: relative;
  width: 100%;
  height: 46vw;
  background-color: #333F48;
  margin: 0px; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
  max-height: 100%; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  top: 0; }

.video-container video.fillWidth {
  width: 100% !important; }

@media (max-width: 800px) {
  .accordion-tabs .accordion-tab {
    font-size: 1.4rem; }
  .accordion-item .accordion-content-text h4 {
    font-size: 2.4rem; }
  .accordion-item .accordion-content-text {
    padding: 0px 3% 0 0; } }

.video-main {
  position: relative;
  width: 100%;
  height: 46vw;
  background-color: #333F48;
  margin: 0px; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
  max-height: 100%; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  top: 0; }

.video-container video.fillWidth {
  width: 100% !important; }

.our-company {
  padding: 60px 0 40px; }
  .our-company .our-company-text {
    padding: 5%; }
    @media only screen and (max-width: 56.25em) {
      .our-company .our-company-text {
        padding: 0 1% 30px 1%; } }
  .our-company .full-img {
    margin-top: 20px; }
  .our-company figure.figure-bridge {
    position: relative; }
    .our-company figure.figure-bridge figcaption {
      position: absolute;
      bottom: 25px;
      left: 20px;
      color: #fff; }

.our-mission .our-mission-text {
  padding: 2% 5% 2% 3%; }
  @media only screen and (max-width: 56.25em) {
    .our-mission .our-mission-text {
      padding: 0% 2% 30px 2%; } }

.our-team .our-team-text {
  padding: 5%; }

.social-responsibility {
  padding: 80px 0; }
  .social-responsibility .social-responsibility-text {
    padding: 3% 5%; }
    @media only screen and (max-width: 37.5em) {
      .social-responsibility .social-responsibility-text {
        padding: 3% 5% 30px 5%; } }
    .social-responsibility .social-responsibility-text h3 {
      font-family: "Roboto", sans-serif;
      line-height: 1.4em;
      font-size: 3rem;
      margin-bottom: 45px; }
    .social-responsibility .social-responsibility-text h4 {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      margin-bottom: 20px; }
    .social-responsibility .social-responsibility-text p a {
      text-decoration: none;
      font-weight: bold;
      color: #353C44; }

.our-team .main-team {
  margin-bottom: 40px; }
  .our-team .main-team .swiper {
    width: 100%;
    height: 100%;
    padding-right: 9%; }
  .our-team .main-team .swiper-wrapper {
    padding-left: 5%; }
  .our-team .main-team .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
  .our-team .main-team .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .our-team .main-team .swiper-button-prev, .our-team .main-team .swiper-rtl .swiper-button-next {
    left: 9%;
    right: auto; }
    @media only screen and (max-width: 37.5em) {
      .our-team .main-team .swiper-button-prev, .our-team .main-team .swiper-rtl .swiper-button-next {
        left: 15%; } }
  .our-team .main-team .swiper-button-next, .our-team .main-team .swiper-rtl .swiper-button-prev {
    right: 8%;
    left: auto; }
    @media only screen and (max-width: 37.5em) {
      .our-team .main-team .swiper-button-next, .our-team .main-team .swiper-rtl .swiper-button-prev {
        right: 14%; } }
  .our-team .main-team .swiper-button-prev:after, .our-team .main-team .swiper-rtl .swiper-button-next:after {
    content: url("../img/arrow-left-slide-team.svg"); }
  .our-team .main-team .swiper-button-next:after, .our-team .main-team .swiper-rtl .swiper-button-prev:after {
    content: url("../img/arrow-right-slide-team.svg"); }
  .our-team .main-team .swiper-button-next, .our-team .main-team .swiper-button-prev {
    top: 8%; }
  .our-team .main-team .item-team .img-team {
    position: relative; }
    .our-team .main-team .item-team .img-team .role {
      position: absolute;
      bottom: 75px;
      left: 30px;
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-weight: 400; }
      @media only screen and (max-width: 56.25em) {
        .our-team .main-team .item-team .img-team .role {
          bottom: 65px; } }
    .our-team .main-team .item-team .img-team .name {
      position: absolute;
      bottom: 0px;
      left: 30px;
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-size: 3.6rem; }
  .our-team .main-team .item-team p {
    text-align: left;
    padding: 5%;
    font-size: 1.6rem; }
    @media only screen and (max-width: 56.25em) {
      .our-team .main-team .item-team p {
        padding: 5% 5px;
        font-size: 1.6rem; } }

.become-a-partner {
  padding: 60px 0 40px; }
  .become-a-partner .become-a-partner-text {
    padding: 4%; }
    @media only screen and (max-width: 56.25em) {
      .become-a-partner .become-a-partner-text {
        padding: 0 1% 30px 1%; } }

.our-process {
  text-align: center;
  padding-bottom: 60px; }
  .our-process .heading-3 {
    font-size: 4.8rem; }
  .our-process .our-process-text-intro {
    max-width: 471px;
    margin: 0 auto 80px; }
  .our-process .item-process {
    padding: 10px; }
    @media only screen and (max-width: 37.5em) {
      .our-process .item-process {
        padding: 20px 10px; } }
    .our-process .item-process h3 {
      text-transform: uppercase;
      font-size: 1.6rem;
      margin: 15px 0; }
    .our-process .item-process p {
      font-size: 1.4rem; }

.accordion-form {
  position: relative;
  padding: 70px 0; }
  .accordion-form .accordion {
    margin: 0px auto 0; }
    @media only screen and (max-width: 37.5em) {
      .accordion-form .accordion {
        width: 100%; } }
    .accordion-form .accordion .form-become input {
      display: inline-block;
      width: 47%;
      height: 50px;
      line-height: 50px;
      border: none;
      padding: 0 10px;
      margin: 1%;
      font-family: "Roboto", sans-serif;
      color: #353C44; }
      .accordion-form .accordion .form-become input:active {
        border: none;
        outline: none; }
      .accordion-form .accordion .form-become input[type="submit"] {
        width: 99%;
        margin: 2% auto;
        display: block;
        position: relative;
        background-color: #353C44;
        color: #FFFFFF;
        font-size: 1.6rem; }
        @media only screen and (max-width: 37.5em) {
          .accordion-form .accordion .form-become input[type="submit"] {
            width: 97%;
            left: -2px; } }
    .accordion-form .accordion .form-become select {
      display: inline-block;
      width: 47%;
      height: 50px;
      line-height: 50px;
      border: none;
      padding: 0 10px;
      margin: 1%;
      font-family: "Roboto", sans-serif;
      color: #353C44; }
      .accordion-form .accordion .form-become select.years-join {
        width: 97%; }
    .accordion-form .accordion .form-become textarea {
      display: inline-block;
      width: 100%;
      resize: none;
      height: 294px;
      border: none;
      padding: 10px;
      position: relative;
      left: -5px;
      top: 5px;
      font-family: "Roboto", sans-serif;
      color: #353C44; }
      .accordion-form .accordion .form-become textarea.vendor-textarea {
        height: 174px; }
        @media only screen and (max-width: 56.25em) {
          .accordion-form .accordion .form-become textarea.vendor-textarea {
            height: 161px; } }
      .accordion-form .accordion .form-become textarea.join-textarea {
        height: 227px; }
        @media only screen and (max-width: 56.25em) {
          .accordion-form .accordion .form-become textarea.join-textarea {
            height: 217px; } }
      @media only screen and (max-width: 56.25em) {
        .accordion-form .accordion .form-become textarea {
          height: 274px; } }
      @media only screen and (max-width: 37.5em) {
        .accordion-form .accordion .form-become textarea {
          width: 97%;
          height: 294px;
          left: 3px; } }

.career {
  text-align: center;
  padding: 60px 0 40px; }
  .career .career-text h3 {
    font-size: 4.8rem; }
  .career .career-text .career-text-intro {
    max-width: 471px;
    margin: 0 auto 80px; }
  .career .career-main input {
    position: absolute;
    opacity: 0;
    z-index: -1; }
  .career .career-main .accordion-wrapper {
    overflow: hidden;
    width: 85%;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .career .career-main .accordion-wrapper {
        width: 100%; } }
  .career .career-main .accordion {
    width: 100%;
    color: #353C44;
    overflow: hidden;
    margin-bottom: 16px;
    margin-top: 0; }
  .career .career-main .accordion:last-child {
    margin-bottom: 0; }
  .career .career-main .accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 30px 20px 30px 30px;
    background: #EDEBE8;
    font-weight: bold;
    cursor: pointer;
    font-family: "EB Garamond", serif;
    font-size: 3rem;
    color: #353C44; }
    @media only screen and (max-width: 37.5em) {
      .career .career-main .accordion-label {
        padding: 25px 0px 25px 15px;
        font-size: 2.4rem; } }
  .career .career-main .accordion-label:hover {
    opacity: 0.8; }
  .career .career-main .accordion-label::after {
    content: url("../img/arrow-drop-down-circle.svg");
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    left: -34px;
    top: 5px; }
  .career .career-main .accordion-content {
    max-height: 0;
    padding: 0 16px;
    background: #EDEBE8;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .career .career-main .accordion-content p {
    margin: 0;
    font-size: 1.6rem;
    color: #353C44;
    padding: 20px 20px 40px 20px; }
  .career .career-main input:checked + .accordion-label {
    background: #EDEBE8; }
  .career .career-main input:checked + .accordion-label::after {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 20px; }
  .career .career-main input:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 16px; }

.footer {
  text-align: center;
  padding: 60px 0; }
  .footer ul.menu-footer {
    display: flex;
    width: 80%;
    margin: 40px auto;
    justify-content: center;
    list-style-type: none; }
    .footer ul.menu-footer li {
      margin: 0 10px; }
      .footer ul.menu-footer li a {
        text-transform: uppercase;
        color: #353C44;
        text-decoration: none;
        font-weight: bold;
        opacity: 1;
        transition: opacity 0.3s; }
        .footer ul.menu-footer li a:hover {
          opacity: 0.6; }
      @media only screen and (max-width: 37.5em) {
        .footer ul.menu-footer li {
          margin: 0 8px; } }
    @media only screen and (max-width: 37.5em) {
      .footer ul.menu-footer {
        width: 95%; } }
  .footer .social-link {
    margin-bottom: 40px; }
    .footer .social-link a {
      display: inline-block;
      margin: 0 10px; }
      .footer .social-link a img {
        height: 22px;
        opacity: 1;
        transition: opacity 0.3s; }
      .footer .social-link a:hover img {
        opacity: 0.7; }
  .footer address {
    font-family: "EB Garamond", serif;
    font-size: 1.4rem;
    font-style: normal;
    margin-bottom: 35px; }
  .footer p.copy {
    font-size: 1.2rem; }
    .footer p.copy a {
      color: #353C44;
      font-weight: bold;
      text-decoration: none; }
      .footer p.copy a:hover {
        opacity: 0.8; }
  .footer .change-language {
    position: relative;
    max-width: 400px;
    margin: 0 auto 40px; }
    @media only screen and (max-width: 37.5em) {
      .footer .change-language {
        margin: 0 auto 38px; } }
    .footer .change-language a {
      color: #353C44;
      text-decoration: none; }
      .footer .change-language a img {
        position: relative;
        top: 5px;
        width: 20px; }
      .footer .change-language a::before {
        content: "";
        position: relative;
        top: 6px;
        display: inline-block;
        margin-right: 4px;
        background-image: url(../img/language.svg);
        background-size: cover;
        width: 25px;
        height: 25px; }
    .footer .change-language .choose-language {
      display: block;
      position: absolute;
      right: -40px;
      top: 7px;
      opacity: 0;
      transition: all 0.3s; }
      @media only screen and (max-width: 68.75em) {
        .footer .change-language .choose-language {
          right: -20px;
          top: 10px; } }
      @media only screen and (max-width: 37.5em) {
        .footer .change-language .choose-language {
          right: 19px;
          top: 40px; } }
      .footer .change-language .choose-language a {
        margin: 0 5px;
        opacity: 0.6;
        transition: opacity 0.3s; }
        .footer .change-language .choose-language a::before {
          display: none; }
        .footer .change-language .choose-language a:hover {
          opacity: 1; }
      .footer .change-language .choose-language.open-language {
        right: -10px;
        opacity: 1; }
        @media only screen and (max-width: 68.75em) {
          .footer .change-language .choose-language.open-language {
            right: 22px;
            top: 10px; } }
        @media only screen and (max-width: 37.5em) {
          .footer .change-language .choose-language.open-language {
            right: 139px;
            opacity: 1;
            top: 40px; } }
